################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sts-service/v16/TestStore/0
/src/BLL.Services/bin/Debug/netstandard2.0
/src/BLL.Services/obj
/src/DAL.Repositories/bin/Debug/netstandard2.0
/src/DAL.Repositories/obj
/src/Infrastructure.CrossCutting/bin/Debug/netstandard2.0
/src/Infrastructure.CrossCutting/obj
/src/Models.Domain/bin/Debug/netstandard2.0
/src/Models.Domain/obj
/src/Presentation.API/bin/Debug/netcoreapp3.1
/src/Presentation.API/obj
/.vs/sts-service/DesignTimeBuild
